<section id="Banner">
  <div class="container">
    <div class="row text-center">
      <div class="col-12">
        <img [src]="'assets/profile.png'" alt="Profile Image">
      </div>
    </div>

    <div class="row banner-content text-center">
      <div class="col-12">
        <h1>start bootstrap</h1>
        <div class="separator"></div>
        <h4>Web Developer - Graphic Artist - UX Designer</h4>
      </div>
    </div>

  </div>
</section>

<section id="Portfolio">
  <div class="container">
    <div class="row text-center portfolio-heading">
      <div class="col-12">
        <h1>Portfolio</h1>
        <div class="separator"></div>
      </div>
    </div>

    <div class="row portfolio-images text-center">
      <div class="col-md-6 col-lg-4">
        <img [src]="'assets/cabin.png'" alt="Cabin">
      </div>

      <div class="col-md-6 col-lg-4">
        <img [src]="'assets/cabin.png'" alt="Cabin">
      </div>

      <div class="col-md-6 col-lg-4">
        <img [src]="'assets/cabin.png'" alt="Cabin">
      </div>

      <div class="col-md-6 col-lg-4">
        <img [src]="'assets/cabin.png'" alt="Cabin">
      </div>

      <div class="col-md-6 col-lg-4">
        <img [src]="'assets/cabin.png'" alt="Cabin">
      </div>

      <div class="col-md-6 col-lg-4">
        <img [src]="'assets/cabin.png'" alt="Cabin">
      </div>
    </div>

  </div>
</section>

<section id="About">
  <div class="container">
    <div class="row text-center">
      <div class="col-12">
        <h1>About</h1>
        <div class="separator"></div>
      </div>
    </div>

    <div class="row about-content">
      <div class="col-md-4 offset-md-2">
        <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum dignissimos eaque id obcaecati qui quo ratione voluptatibus. Aliquid amet earum exercitationem fuga in mollitia non quia, quis, quod rerum voluptates.</span>
      </div>

      <div class="col-md-4">
        <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum dignissimos eaque id obcaecati qui quo ratione voluptatibus. Aliquid amet earum exercitationem fuga in mollitia non quia, quis, quod rerum voluptates.</span>
      </div>
    </div>

    <div class="row text-center about-action">
      <div class="col-12">
        <button class="btn btn-outline-light btn-lg">Download</button>
      </div>
    </div>


  </div>

</section>

<section id="Contact">
  <div class="container">

    <div class="row text-center">
      <div class="col-12">
        <h1>Contact Me</h1>
        <div class="separator"></div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-8 offset-md-2">
        <form>
          <div class="form-group">
            <input type="text" class="form-control" id="YourName" placeholder="Your Name">
          </div>

          <div class="form-group">
            <input type="text" class="form-control" id="Email" placeholder="Email">
          </div>

          <div class="form-group">
            <input type="text" class="form-control" id="Phone" placeholder="Phone Number">
          </div>

          <div class="form-group">
            <textarea name="message" id="Message" cols="30" rows="10"></textarea>
          </div>

          <div class="form-group">
            <button class="btn btn-success">Send</button>
          </div>

        </form>
      </div>
    </div>


  </div>
</section>
